body, html {
    margin: 0;
    height: 100%;
    display:flex;
    flex-direction: column;
    /* cursor: url("src/assets/circle.png") 32 32, auto */
    cursor: none;
    text-align: center;
    color: red;
    background: black;
}

#canvas-div {
    height: 100%;
    display:flex;
    flex-direction: column;
}

#main-canvas {
    width: 100%;
    height: 100%;
}

#header, #footer {
    border: 2px solid red;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    font-size: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}